@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 26 46% 86%;
    --foreground: 0 0% 0%;

    --card: 27 53% 91%;
    --card-foreground: 0 0% 0%;

    --popover: 26 33% 81%;
    --popover-foreground: 0 0% 0%;

    --primary: 25 41% 74%;
    --primary-foreground: 0 0% 0%;

    --secondary: 26 33% 81%;
    --secondary-foreground: 0 0% 0%;

    --muted: 26 33% 81%;
    --muted-foreground: 0 0% 30%;

    --accent: 26 33% 81%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 25 35% 70%;
    --input: 26 33% 81%;
    --ring: 25 41% 74%;

    --radius: 0.5rem;

    --sidebar-background: 26 46% 86%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 25 41% 74%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 26 33% 81%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 25 35% 70%;
    --sidebar-ring: 25 41% 74%;
  }

  .dark {
    --background: 25 15% 15%;
    --foreground: 30 25% 90%;

    --card: 25 15% 18%;
    --card-foreground: 30 25% 90%;

    --popover: 25 15% 18%;
    --popover-foreground: 30 25% 90%;

    --primary: 30 25% 90%;
    --primary-foreground: 25 15% 15%;

    --secondary: 25 10% 25%;
    --secondary-foreground: 30 25% 90%;

    --muted: 25 10% 25%;
    --muted-foreground: 30 15% 65%;

    --accent: 25 10% 25%;
    --accent-foreground: 30 25% 90%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 30 25% 90%;

    --border: 25 10% 30%;
    --input: 25 10% 30%;
    --ring: 30 20% 75%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}